@model DLLGakuen.Entity.User

@{
    ViewBag.Title = "BeforeBuy";
}

<h2>BeforeBuy</h2>
<h2>Is this Right</h2>
<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhoneNr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Birthday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Birthday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactPersonPhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactPersonPhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsrName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsrName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConfirmedUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConfirmedUser)
        </dd>

    </dl>
</div>
<form action="Buylist" method="post">
    <input class="btn btn-success" type="submit" value="Accept">
</form>
<form action="index" method="post">
    <input class="btn btn-success" type="submit" value="Cansel">
</form>