

@{
    ViewBag.Title = "BuyList";
}

<h2>BuyList</h2>

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
    <table>
        <tr>
            <th>?</th>
            <th>Name</th>
            <th>Price</th>
            <th>Buy</th>
        </tr>

        @{

            foreach (var pro in ViewBag.Products)
            {
                <tr>
                    <td>@pro.id</td>
                    <td>@pro.Info</td>
                    <td>@pro.Name</td>
                    <td>@pro.Price</td>
                    <td><a class="btn btn-success" href="/Shop/ConfirmBuy/@pro.id">tilføj</a></td>
                </tr>
            }
        }

        @{
            foreach (var pro in ViewBag.Orderlist)
            {
                <tr>
                    <td>@pro.Info</td>
                    <td>@pro.Name</td>
                    <td>@pro.Price</td>
                    <td><a class="btn btn-danger" href="/Shop/ConfirmBuy/@pro.id">slet</a></td>
              </tr>
            }
        }
        

        <a class="btn btn-success" href="/Shop">Køb</a>


</table>