@model DLLGakuen.Entity.OrderList

@{
    ViewBag.Title = "ListInfo";
}

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #fe8686;
    }
</style>

<h2>ListInfo</h2>

<div>
    <h4>OrderList</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PaidStringCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaidStringCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriceToPay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriceToPay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateTime)
        </dd>

    </dl>
</div>

<h2>produckts</h2>
<table>
    <tr>
        <th>?</th>
        <th>Name</th>
        <th>Price</th>
    </tr>
    @{
        foreach (var pro in Model.ItemsList)
        {
            <tr>
                <td>
                    <form>
                        <button onclick="infoFunktion('@pro.Info')">?</button>
                    </form>
                </td>

                <td>@pro.Name</td>
                <td>@pro.Price</td>
            </tr>
        }
    }
</table>

<p>
    @Html.ActionLink("Back to List", "OrderListList")
</p>
