@model IEnumerable<DLLGakuen.Entity.OrderList>

@{
    ViewBag.Title = "OrderListList";
}

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #fe8686;
    }
</style>



<h2>OrderListList</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PaidStringCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PriceToPay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentAccepted)
        </th>
        <th>Info</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PaidStringCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PriceToPay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentAccepted)
        </td>
        <td>
            @Html.ActionLink("Info", "ListInfo", new { id=item.Id })
        </td>
    </tr>
}

</table>
