@model IEnumerable<DLLGakuen.Entity.NewsMessage>
@{
    ViewBag.Title = "Home Page";
}

<head>
    @Styles.Render("~/Content/HomePage.css")
</head>
@{ int count = 0;}

<body>
<br/>
<div class="body-content">
    @foreach (var item in Model.Reverse())
    {
        <div class="col-md-4">
            <div class="divimg">
                <a href="@Url.Action("NewsFeed", new {id = item.Id})">
                    <img src="@Html.DisplayFor(modelItem => item.ImageToHost.ImagePath)"/>
                    <span id="wrapper">
                            <p id="magic" style="font-size: 200%">@Html.DisplayFor(modelItem => item.Title)</p>
                            @Html.DisplayFor(modelItem => item.Body)
                        </span>
                </a>
            </div>
        </div>
    }
</div>
<div class="row"></div>
</body>