@using DLLGakuen.Entity
@using System.Linq;
@model IEnumerable<DLLGakuen.Entity.NewsMessage>
@{
    ViewBag.Title = "Home Page";
}
@Scripts.Render("~/Scripts/slideshow.js")

<body>

    @section slideshow{
        @{
            int p = 0;
        }
        <div id="header" class="slide img-rounded">
            @foreach (var x in Model.OrderBy(x => x.Id).Reverse().Take(Model.Count()))
            {
                <a href="@Url.Action("NewsFeed", "NewsMessages", new {id = x.Id})" class="mySlides">

                    <div style=display: inline-block class="img-rounded">
                        <img src="@Html.DisplayFor(modelItem => x.ImageToHost.ImagePath)" class="img-rounded" width="30%" height="300" />
                    </div>
                    <span id="slidewrap" class="img-rounded">

                        <b>@Html.DisplayFor(modelItem => x.Title)</b>
                        <br />
                        @Html.DisplayFor(modelItem => x.Body)

                    </span>
                </a>
                if (++p == 3)
                {
                    break;
                }
            }
            <a id="left" class="img-rounded noselect" onclick="plusDivs(-1)">
                <p><<</p>
            </a>
            <a id="right" class="img-rounded noselect" onclick="plusDivs(+1)"><p>>></p></a>
        </div>
    }

    <br />
    @foreach (var item in Model.Reverse())
            {
        <div class="col-md-4">

            <div class="divimg img-rounded">
                <a href="@Url.Action("NewsFeed","NewsMessages", new {id = item.Id})" class="divimg img-rounded">
                    <img src="@Html.DisplayFor(modelItem => item.ImageToHost.ImagePath)" class="divimg img-rounded" />
                    <span id="wrapper" class="divimg img-rounded">
                        <p style="font-size: 125%; text-align: center;">
                            <b>@Html.DisplayFor(modelItem => item.Title)</b>
                            <br />
                            @Html.DisplayFor(modelItem => item.Body)
                        </p>
                    </span>
                </a>
            </div>
        </div>
    }
    <div class="row"></div>
</body>