@using System.Web.UI.WebControls
@model DLLGakuen.Entity.NewsMessage

@{
    ViewBag.Title = "Create";
}




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Lav en Nyhed</h4>
        <hr/>
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        <div class="form-group">
            <label class="control-label col-sm-2">Titel:</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Title, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">Brødtekst:</label>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Body, new {style = "height: 400px; width:300px; border-radius: 5px;", htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Body, "", new {@class = "text-danger"})
            </div>
        </div>

        
        <div class="form-group">
            <label class="control-label col-sm-2">Billede:</label>
            <label class="col-lg-2">Indæst Billede Link</label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.ImageToHost.ImagePath, new {@class = "form-control", @placeholder = "www.exemple.net/image/image1.jpg"})
                @Html.ValidationMessageFor(model => model.ImageToHost.ImagePath, "", new {@class = "text-danger"})
            </div>
        </div>
        
        <div class="form-group">
            <label class="control-label col-sm-2">Video:</label>
            <label class="col-lg-2">Indæst Video Link</label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.VideoToHost.VideoPath, new { @class = "form-control", @placeholder = "www.exemple.net/video/video1.video" })
                @Html.ValidationMessageFor(model => model.VideoToHost.VideoPath, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        
    </div>


}

<div>
    @Html.ActionLink("Tilbage Til Start Side", "Index",null, new { @class = "btn btn-default"})
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
