@model DLLGakuen.Entity.NewsMessage

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>NewsMessage</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>
        
        <dd style=display: inline-block class="img-rounded">
            <img src="@Html.DisplayFor(modelItem => Model.ImageToHost.ImagePath)" class="img-rounded" width="30%" height="300" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
