@using GakuenMVC.Controllers
@model IEnumerable<DLLGakuen.Entity.Schedule>

@{
    ViewBag.Title = "OverView";
}

<h2>Oversigt over dage</h2>

<head>
    @Styles.Render("~/Content/HomePage.css")
</head>
<body>
<br />
<div class="body-content">
    @foreach (var item in Model.Reverse())
    {
        <div class="col-md-12" style="width: 200px; border: 4px solid midnightblue; border-radius: 5px">
            <a href="@Url.Action("SchoolEventsInSchedule", new {id = item.Id})">
                <span id="wrapper">
                            <p id="magic" style="font-size: 300%">@Html.DisplayFor(modelItem => item.Day)</p>
                        @Html.Label( "Events : ")
                        @Html.DisplayFor(modelItem => item.SchoolEvents)    
                    </span>
            </a>
        </div>
    }
</div>
<div class="row"></div>
    
<div>
    <div style="margin-top: 30px" class="col-md-4">
        <button type="button" class="btn btnbtn-sm" style="background-color: #ff0000;">
            @Html.ActionLink("Tilbage", "Index", "Home", null, new { style="color: white"})
        </button>
    </div>
</div>
</body>

